<%- include('../../../components/header.ejs') %>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>

    <div class="container">
        <h1>Crear Hamburguesas</h1>
        <form action="/admin/hamburguesas/crear" method="POST">
            <div class="form-group">
                <label for="foto">Foto:</label>
                <input type="text" id="foto" name="foto" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" id="descripcion" name="descripcion" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <%- include('../../../components/footer.ejs') %>