<div class="content-header">restaurantes</div>
<button onclick="window.location.href='/admin/restaurantes/crear'" class="btn btn-primary">Crear restaurante</button>
<div id="content">

</div>


<div class="content-body">
    <table>
        <thead>
            <tr>
                <th>Logo</th>
                <th>Nombre</th>
                <th> </th>
            </tr>

        </thead>
        <tbody>

            <tr>
                <% restaurantes.forEach(restaurante=> { %>
                    <td>
                        <img src="/<%= restaurante.logo %>" alt="Logo" style="width: 50px; height: 50px;" />
                    </td>
                    <td>
                        <%= restaurante.nombre %>
                    </td>
                    <td>
                        <a href="/admin/restaurantes/editar/<%= restaurante.id_restaurant %>"
                            class="btn btn-success">Editar</a>
                        <form action="/admin/restaurantes/eliminar/<%= restaurante.id_restaurant %>" method="POST"
                            onsubmit="return confirm('¿Está seguro de que desea eliminar el restaurante ?');">
                            <button id="eliminar" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>